# Ignore Visual Studio settings and build artifacts
.vs/
*.user
*.suo
*.cache
*.log

# Build results
**/bin/
**/obj/
**/Debug/
**/Release/
**/x64/
**/x86/

# NuGet
*.nupkg
*.snupkg
**/packages/
*.nuspec
project.lock.json

# Other
TestResults/
*.pdb
*.dll
*.exe
*.db
*.DS_Store
